@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  width: 80px;
  height: 80px;
  margin: 5px;
  font-size: 24px;
  background-color: #bbf7d0;
  border: 2px solid #22c55e;
  cursor: pointer;
  transition: all 0.2s;
}

.header {
  font-size: 42px;
  font-weight: 600;
  color: #22c55e;
}

.restart {
  color: white;
  background-color: #22c55e;
  cursor: pointer;
  transition: all 0.2s;
}

.board {
  display: inline-block;
}
